.page-id-3723 #main{
	.typographic-heading {
		color: #104381;
	}
}

.about-header {
	background: #daf2ff;
	position: relative;
	margin-bottom: 20px;

	&:after { 
		content: ''; 
		display: block;
		clear: both;
	}

	@include respond-to (610px, min) {
		&:before { 
			content: ''; 
			position: absolute;
			right: 0; top: 0; bottom: 0;
			background: #fff;
			width: 52%;
			z-index: 0;
		}
	}

	.printing-image {
		position: relative;
		z-index: 1;
		float: right;
		border: 0;
		box-shadow: none;
		width: 50%;
		background: #fff;

		@include respond-to (610px, max) {
			display: none;
		}
	}

	h2 {
		color: #104381;
		font-size: 26px;
		line-height: 1;

		@include respond-to(900px, max) {
			font-size: 18px;
		}
	}

	#main & p {
		@extend .font-quaternary;
		margin: 6px 0;
		font-size: 14px;

		@include respond-to(900px, max) {
			margin: 4px 0;
			font-size: 12px;
		}
	}

	.info {
		padding: 20px 55% 20px 20px;

		@include respond-to (610px, max) {
			padding: 20px;
		}
	}
}

.about-main-text {
	p {
		margin: 10px 0;
	}
	em {
		font-style: italic;
	}
}

#main .about-footer {
	background: #daf2ff;
	padding: 10px 20px;
	margin-top: 20px;
	@extend .font-quaternary;
	font-size: 14px;
}