@mixin respond-medium-advertise {
	@include respond-to (820px) {
		@content;
	}
}

@mixin respond-small-advertise {
	@include respond-to (680px) {
		@content;
	}
}

@mixin respond-tiny-advertise {
	@include respond-to (410px) {
		@content;
	}
}

#main.advertise {
	background: #dcecf4;
	border-bottom: 25px solid #00427c;

	&, .advertise-row {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

	.advertise-row {
		padding-top: 40px;

		@include respond-small-advertise {
			padding-top: 10px;
		}
	}

	.copy {
		padding: 0 0 90px 50%;
		position: relative;

		@include respond-small-advertise {
			padding: 0 0 20px 14px;
		}
	}

	.advertise-img {
		position: absolute;
		max-width: 60%;
		left: -9%;
		top: 0;

		@include respond-small-advertise {
			position: static;
			max-width: 45%;
			float: left;
		}
	}

	h1 {
		color: #00427c;
		font-size: 34px;
		font-weight: bold;
		line-height: 1.2;
		padding: 20px 0;
		padding-right: 10px;
	}

	@include respond-medium-advertise {
		h1 {
			font-size: 26px;
		}
		br {
			display: none;
		}
	}

	p {
		@extend .font-quaternary;
		font-size: 14px;
		line-height: 1.5;
	}

	.copy p {
		margin-bottom: 12px;
		padding-right: 40px;
		text-align: justify;
	}

	.col {
		width: 50%;
		float: left;

		@include respond-small-advertise {
			width: auto;
			float: none;
		}
	}

	.statistics {
		padding: 0 40px 0 60px;

		@include respond-medium-advertise {
			padding-left: 20px;
		}

		li {
			display: table;
			width: 100%;
			margin-bottom: 20px;
		}

		strong, p {
			display: table-cell;
			vertical-align: middle;
		}

		strong {
			font-family: 'source_sans_pro', sans-serif;
			background: #0e99d3;
			color: #fff;
			font-weight: bold;
			font-size: 45px;
			text-align: center;
			width: 120px;
			height: 120px;

			@include respond-tiny-advertise {
				width: 60px;
				height: 60px;
				font-size: 24px;
			}
		}

		p {
			padding-left: 12px;
		}
	}

	.call-to-action {
		@extend .border-box;
		border-left: 2px solid #0e99d3;
		padding: 0 10px 20px 20px;

		@include respond-small-advertise {
			border-left: none;
		}

		p {
			font-size: 18px;
			padding-bottom: 20px;
		}

		.download {
			@extend .font-heading;
			@extend .primary-gradient;
			box-shadow: 2px 2px 2px rgba(black, .2);
			display: inline-block;
			font-weight: bold;
			color: #000;
			font-size: 24px;
			line-height: 2;
			padding: 0 30px;

			@include respond-tiny-advertise {
				font-size: 18px;
				padding: 0 20px;
			}
		}
	}
}