/* body */.page-id-175 #main {
	h2 {
		font-family: 'source_sans_pro', sans-serif !important;	
	}

	ul {
		list-style: none;
		text-indent: -10px;
	}

	li {
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: 4px 0;
		color: #666;

		&:hover {
			color: #000;
			text-decoration: underline;
		}
	}
}