@charset "UTF-8";

/* body */.page-id-3722 #main {
	.typographic-heading {
		color: #104381;
	}
}

.contact-header {
	&:after { 
		content: ''; 
		display: block;
		clear: both;
	}
	> .info {
		@include respond-to(480px, min) {
			float: right;
			width: 190px;			
		}

		> h2 {
			color: #104381;
			font-size: 32px;
			line-height: 1.1;
		}
		#main & > p {
			@extend .font-quaternary;
			color: #686868;
			font-size: 14px;

			> strong {
				color: #104381;
			}
		}
	}
	> .image-wrapper {
		@include respond-to(480px, min) {
			margin-right: 200px;
		}
		@include respond-to(480px, max) {
			padding-top: 10px;
		}
	}
	.map-image {
		border: 0;
		box-shadow: none;
	}
}

.contact-departments {
	overflow: hidden;

	.columns {
		background: #e7f6fd;
		margin-top: 20px;
		margin-bottom: 20px;

		@include respond-to (not-phones) {
			padding-bottom: 200px;
			margin-bottom: -200px;
		}
	}

	h3, h4, p {
		padding-left: 20px;
		padding-right: 20px;
	}

	#main & {
		h4, p {
			@extend .font-quaternary;
			font-size: 14px;
		}
		h4 {
			color: #104381;
			margin-top: 15px;
		}
		p {
			color: #686868;
			margin-bottom: 15px;
		}
	}

	h3 {
		font-size: 28px;
		line-height: 1.8;
		background: #104381;
		color: #fff;
	}
}

.contact-locations {
	.columns {
		background: #104381;
		padding: 15px 0 !important;
		margin: 20px 0;
	}
	#main & {
		h3, p {
			color: #fff;
			padding-left: 35px;
		}
		h3 {
			font-size: 24px;
		}
		p {
			@extend .font-quaternary;
			font-size: 14px;
			line-height: 1.5;
		}
	}
	h3 {
		position: relative;

		&:before {
			content: '❖';
			font-size: 18px;
			position: absolute;
			left: 10px;
			top: 4px;
		}
	}
}