/* body */.page-id-206 #main {

	/* h1 */.typographic-heading {
		color: #0f6906;
	}

	.feature-box {
		position: relative;
		padding-left: 85px;
		margin-bottom: 20px;

		&:before {
			background: url(../images/page-currency/big-flags.png);
			content: '';
			position: absolute;
			top: 20px;
			left: 20px;
			width: 50px;
			height: 34px;
		}

		&.ILS:before	{ background-position: -50px 0 }
		&.EUR:before	{ background-position: -100px 0 }

		.key, .name {
			color: #0F6906;
		}

		.key {
			font-family: 'source_sans_pro', sans-serif;
			line-height: 1;
			padding-top: 12px;
			font-weight: bold;
			font-size: 34px;
		}

		.name {
			font-size: 13px;
		}

		.rate {
			@extend .font-quaternary;
			color: #666 !important;
		}
	}
	
	table {
		width: 100%;
	}
}






.flag {
	display: block;
	width: 25px;
	height: 15px;
	background:url(../images/flags.png) no-repeat
}

.flag.flag-CHF {background-position: -25px 0}
.flag.flag-EUR {background-position: -50px 0}
.flag.flag-GBP {background-position: 0 -15px}
.flag.flag-ILS {background-position: -25px -15px}