@include respond-to(601px, min) {
	.features-posts {
		margin-left: 220px;
	}
}

.features-categories {
	padding-left: 0 !important;
	list-style: none !important;

	@include respond-to(601px, min) {
		float: left;
	}

	@include respond-to(600px) {
		@include clearfix();
	}

	> li {
		margin-bottom: 4px;

		@include respond-to(601px, min) {
			width: 200px;
		}

		@include respond-to(600px) {
			float: left;
			width: 49%;

			&:nth-child(odd) {
				margin-right: 4px;
			}
		}

		@include respond-to(390px) {
			margin-right: 0;
			width: 100%;
			float: none;
		}

		> a {
			display: block;
			padding: 4px 8px;
			color: #fff;
			background-color: #104381;
			font-size: 12px;
			line-height: 24px;

			> span[class^="icon-"] {
				font-size: 20px;
				padding: 0 4px;
			}

			&:hover {
				background-color: darken(#104381, 8);	
			}

			&:active {
				background-color: darken(#104381, 14);
			}
		}
	}
}

.post-type-archive-hamodia_feature .post-box article {
	position: relative;

	&:first-of-type {
		border-top: 1px solid #D5D5D5;
	}

	> header {
		padding-top: 30px;
	}
}

.feature-category-link {
	background: #104381;
	position: absolute;
	line-height: 25px;
	height: 25px;
	padding-left: 18px;
	font-size: 12px;
	display: block;
	width: 100px;
	color: #fff;
	left: 0;
	top: 0;

	// The icon
	&:before {
		position: relative;
		left: -8px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 100%; top: 0;
		width: 0; height: 0;
		border: 12px solid #104381;
		border-right-color: transparent !important;
		border-bottom-color: transparent !important;
	}

	&:hover {
		background: darken(#104381, 8);
		color: #fff;

		&:after {
			border-color: darken(#104381, 8);
		}
	}
}