#footer	{
	background: #ececec;
	border-top: 6px solid #104381;
	margin-top: 20px;
	padding: 6px 0 20px 0;

	@include respond-to (not-phones) {
		> .row {
			background: url(../images/logo-footer.svg) no-repeat right bottom;
			@include filter( drop-shadow(1px 1px 1px #fff) );
		}
	}


	.columns {
		@extend .border-box;
		border-left: 1px solid #bdbdbd;
		padding: 0 6px;
	}

	h6 {
		@extend .font-secondary;
		color: #737373;
		font-size: 18px;
		font-weight: bold;
		line-height: 2;
	}

	a {
		@extend .font-quaternary;
		display: block;
		color: #444;

		&:hover {
			color: #000;
			text-decoration: underline;
		}
	}

	.back-to-top {
		position: absolute;
		top: -22px;
		right: 15px;
		width: 30px;
		height: 60px;
		line-height: 60px;
		font-size: 20px;
		border-radius: 60px 0 0 60px;
		background: #104381;
		text-align: center;
		color: #fff;
		@include transform( rotate(-90deg) );

		&:hover {
			background: darken(#104381, 8);
			text-decoration: none;
			color: #fff;
		}

		.ie & {
			display: none;
		}

		@include respond-to (phones) {
			display: none;
		}
	}
}