.gallery {
	transition: background-color .8s;
	text-align: center;
	background: #ddd;
	cursor: pointer;
	margin: 16px 0;

	&:hover {
		background: #bcbcbc;
	}

	&-item {
		transition: opacity .2s;
		display: inline-block;
		position: relative;
		margin: 10px;

		&:hover {
			opacity: .9;
		}
	}
}
