@import "fonts";

$link-color: #104381;
$link-hover-color: #1083BE;
$link-visited-color: #65798A;

/* ----------------- Media Queries ----------------- */

$break-small: 767px;
$break-large: 980px;

@mixin respond-to ($media, $min-max: max) {
	@if $media == phones {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == tablets {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == widescreens {
		@media only screen and (min-width: $break-large) { @content; }
	}
	@else if $media == not-phones {
		@media only screen and (min-width: $break-small + 1) { @content; }
	}

	@else if $min-max == max {
		@media only screen and (max-width: $media) { @content; }
	}
	@else if $min-max == min {
		@media only screen and (min-width: $media) { @content; }
	}
}

/* --------------------- Mixins --------------------- */

@mixin keyframes ($name) {
	@-webkit-keyframes $name { @content; }
	@-moz-keyframes $name { @content; }
	@-ms-keyframes $name { @content; }
	@-o-keyframes $name { @content; }
	@keyframes $name { @content; }
}

@mixin animation ($props) {
	-webkit-animation: $props;
	-moz-animation: $props;
	-ms-animation: $props;
	-o-animation: $props;
	animation: $props;
}

@mixin min-width ( $min-width ) {
	// Source: http://css-tricks.com/minimum-paragraph-widths/

	&:before {
		content: "";
		width: $min-width;
		display: block;
		overflow: hidden;
	}
}

@mixin clearfix () {
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}

	&:after { clear: both; }
}

/* ------------------- Extendables ------------------- */

.primary-gradient {
	background: #ffbb02;
	@include background( linear-gradient(#ffd973, #ffbb02) );
	@include filter-gradient(#ffd973, #ffbb02);

	&:hover {
		@include background( linear-gradient( darken(#ffd973, 6), darken(#ffbb02, 6)) );
		@include filter-gradient( darken(#ffd973, 6), darken(#ffbb02, 6) );
	}

	&:active {
		@include background( linear-gradient(#ffbb02, #ffd973) );
		@include filter-gradient(#ffbb02, #ffd973);
	}
}

.feature-box {
	@extend .border-box;
	padding: 10px;

	background: #dfe9f3;
	@include background(linear-gradient(
		#dfe9f3 54%,
		#c4d6e8
	));

	border: 4px solid #fff;
	box-shadow: inset 2px 2px 12px #9cb8d9,
						0 0 12px #ccc;

	.ie8 & {
		outline: 1px solid #ccc;
	}
}

.image-replacement {
	display: block;
	text-indent: -999em;
	line-height: 0;
}

.clearfix {
	@include clearfix();
}

.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ----------------- General Tags/Classes ----------------- */

* {
	outline: 0;
}

html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}
body {
	@extend .font-quaternary;
}

::-webkit-input-placeholder {
	// @extend .font-quaternary;
	// Can't use extend, since the moz and webkit selectors can't be in the same rule
	// Helvetica/Arial-based sans serif stack
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #aaa;
	font-size: 14px;
}

:-moz-placeholder {
	// @extend .font-quaternary;
	// Can't use extend, since the moz and webkit selectors can't be in the same rule
	// Helvetica/Arial-based sans serif stack
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #aaa;
	font-size: 14px;
}

::selection {
	color: #FFBB05;
	background: #002A4D;
}
::-moz-selection {
	color: #FFBB05;
	background: #002A4D;
}

a:hover {
	color: $link-hover-color;
}

img {
	max-width: 100%;
	height: auto;
}

h2 {
	@extend .font-heading;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.2;
	color: #000;
}

.hidden {
	display: none !important;
}

.hebrew-date {
	@extend .font-quaternary;
	font-size: 13px;
}

.notice {
	background: #C8F1FD;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.4;
	padding: 10px;
	color: #185466;
	margin-bottom: 8px;
}

/* ------------------- General Code ------------------- */

@include respond-to($break-small + 1, min) {
	#main.with-sidebar, #sidebar {
		display: table-cell;
		vertical-align: top;
	}
	#sidebar {
		width: 200px;
		padding-left: 20px;
	}
}

#breadcrumbs > span {
	@extend .font-quaternary;
	font-size: 12px;
	color: #989898;

	a {
		color: #104381;

		&:hover {
			color: lighten(#104381, 25);
			text-decoration: underline;
		}
	}

	> :last-child {
		display: none;
	}
}

#main .typographic-heading {
	font-family: 'source_sans_pro', sans-serif !important;
	margin-bottom: 20px !important;
	font-weight: bold !important;
	font-size: 40px !important;
	border-bottom: 6px solid;
	color: #444;
}

#main.editable-page {
	h2, h3, h4, h5, h6 {
		@extend .font-heading;
		font-weight: bold;
		color: #000;
		line-height: 1.6;
	}
	p {
		margin-bottom: 10px;
	}
	strong {
		font-weight: bold;
	}
}

#main.default-page-template {
	p, li {
		@extend .font-quaternary;
		margin-bottom: 8px;
		font-size: 14px;
		color: #222;
	}
}

#main p, .entry-content {
	@extend .font-secondary;
	font-size: 16px;
	line-height: 1.4;
	color: #222;

	body.home & {
		font-size: 15px;
		line-height: 1.2;
	}

	@include respond-to(phones) {

		body.home & {
			font-size: 12px;
			line-height: 1.2;
		}
	}
}

article.clickable:hover {
	cursor: pointer;
	background: #f9f9f9;

	@include background(radial-gradient(
		#eee, #fff
	));
}

/* ------------------- Pagination Code ------------------- */

#post-nav, #comment-nav {
	@extend .clearfix;
	padding: 14px 4px;
}

.nav-previous, .nav-next {
	> a {
		color: #104381;
		border: 1px solid;
		line-height: 1.6;
		padding: 0 10px;

		&:hover {
			color: #fff;
			background: #104381;
		}
	}
}

.nav-previous	> a { float: left }
.nav-next		> a { float: right }
