.hero {
	border-top: 1px solid transparent;
	position: relative;
	overflow: hidden;
	display: block;

	&:before {
		content: '';
		position: absolute;
		top: 0; right: 0;
		bottom: 0; left: 0;
		z-index: 2;

		background: linear-gradient(rgba(black, 0) 20%, rgba(black, .85));
		transition: opacity .4s linear;
	}

	&.gallery-format:after {
		content: 'Gallery';
		font-family: 'source_sans_pro', sans-serif;
		text-transform: uppercase;
		background: #104381;
		letter-spacing: 1px;
		border-radius: 99em;
		position: absolute;
		padding: 2px 10px;
		font-weight: bold;
		font-size: 12px;
		color: white;
		z-index: 4;
		right: 14px;
		top: 14px;
	}

	&-image {
		transition: transform .4s;
		margin: 0 !important;
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		z-index: 1;
	}

	&-title {
		position: absolute;
		left: 0;
		right: 10%;
		bottom: 0;
		z-index: 3;

		&, .post-box & {
			text-shadow: 1px 1px 0 rgba(black, .8), -1px -1px 0 rgba(black, .5);
			font-family: 'source_sans_pro', sans-serif;
			line-height: 1.4;
			color: white;
		}

		.hero-big & {
			&, .post-box & {
				font-size: 26px;
				padding: 12px 20px;

				@include respond-to (phones) {
					font-size: 18px;
					padding: 6px 12px;
				}
			}
		}

		.hero-medium & {
			&, .post-box & {
				font-size: 18px;
				padding: 6px 12px;
			}
		}

		.hero-small & {
			&, .post-box & {
				font-size: 14px;
				padding: 6px 12px;

				@include respond-to (phones) {
					font-size: 18px;
				}
			}
		}

	}

	&:hover {

		&:before {
			opacity: .5;
		}

		.hero-image {
			transform: scale(1.03);
			transition-duration: .6s;
		}

	}
}
