<script id="first-list-template" type="text/x-handlebars-template">
{{#if sale_text}}
	<div class="sale-text feature-box">{{ sale_text }}</div>
{{/if}}

<ul class="subscriptions-table">
	{{#key_value weekend}}
		{{#with value}}
		<li data-subscription-type="weekend" data-delivery-method="{{ ../key }}">
			<h3>Weekend Edition</h3>
			<p class="price-wrap">
				<!--<span class="prefix">Starting at</span>-->
				<span style="padding-left:4px;font-size:36px;line-height:41px;color:#ffffff;font-weight:bold">$13/month<br />&nbsp;<span style="visibility:hidden"><span class="dollars">{{ price_per_issue.dollars }}</span>{{ price_per_issue.cents }}</span></span>
				<!--<span class="suffix">/ Issue</span>-->
			</p>
			<p class="delivery-method icon-{{ delivery_method }}">
				{{ delivery_method }} Delivery
			</p>
			<p class="description">
				{{ delivery_description }}
			</p>
		</li>
		{{/with}}
	{{/key_value}}
	
	{{#key_value daily}}
		{{#with value}}
		<li data-subscription-type="daily"><!-- this is where the key code was removed making it clickable -->
			<h3>Daily Edition</h3>
			<p class="price-wrap">
				<!--<span class="prefix">Starting at</span>-->
				<!--<span class="price">$--><span style="font-size:28px;line-height:28px;color:#ffffff;font-weight:bold">Contact Us<br />For Pricing</span><br /><span style="font-size:18px;line-height:18px;color:#ffffff;font-weight:bold">(718) 853-9094 x5101<!--{{ price_per_issue.dollars }}--></span><!--{{ price_per_issue.cents }}--><!--</span>-->
				<span class="suffix"> </span>
			</p>
			<p class="delivery-method icon-{{ delivery_method }}">
				{{ delivery_method }} Delivery
			</p>
			<p class="description">
				{{ delivery_description }}
			</p>
		</li>
		{{/with}}
	{{/key_value}}
</ul>
</script>




<script id="second-list-template" type="text/x-handlebars-template">
<div class="options-list row">


	{{#if lump}}
	<!--<div class="six columns lump">
		<h3>Pay up front</h3>
		<ul>
		{{#each lump}}
			<li data-id={{ id }}>
				<span class="price-per-issue">${{ price_per_issue }}</span>/{{ ../issue_wording }}
				- {{ duration }}
				for <span class="charge">${{ charge }}</span>
				{{#if amount_saved}} - <span class="save">Save ${{ amount_saved }}</span>{{/if}}
			</li>
		{{/each}}
		</ul>
	</div>-->
	{{/if}}

	{{#if payg}}
	<div class="six columns payg">
		<h3>Pay as you go <span>automated&nbsp;monthly&nbsp;charges, no&nbsp;contract,&nbsp;cancel&nbsp;at&nbsp;any&nbsp;time</span></h3>
		<ul>
		{{#each payg}}
			<li data-id={{ id }}>
				<span class="price-per-issue" style="padding-top:10px;font-weight:400"><strong>$13/month.</strong> Receive weekend edition each week before Shabbos</span>
<span style="visibility:hidden">{{ price_per_issue }}/{{ ../issue_wording }}
				- {{ duration }}</span>
				<span class="charge" style="visibility:hidden">${{ charge }}</span>
				{{#if amount_saved}} - <span class="save">Save ${{ amount_saved }}</span>{{/if}}
			</li>
		{{/each}}
		</ul>
	</div>
	{{/if}}

</div>
</script>




<script id="billing-template" type="text/x-handlebars-template">
<form class="nice" method="post">

	<div class="row">
		<div class="six columns">

			<fieldset class="shipping-information">
				<legend>Recipient's Information</legend>

				<label>
					<input type="checkbox" name="is_gift" />
					This is a gift (send a gift card)
				</label>
				
				<div class="row">
					<div class="two columns">
						<select class="input-text" name="title">
							<option value="Mr.">Mr.</option>
							<option value="Mrs.">Mrs.</option>
							<option value="Miss">Miss</option>
							<option value="Dr.">Dr.</option>
							<option value="Rabbi">Rabbi</option>
						</select>
					</div>
					<div class="five columns">
						<input class="input-text" type="text" name="ship_first_name" placeholder="First Name" />
					</div>
					<div class="five columns">
						<input class="input-text" type="text" name="ship_last_name" placeholder="Last Name" />
					</div>
				</div>

				<div class="row">
					<input class="input-text" type="text" name="ship_address" placeholder="Street Address" />
				</div>

				<div class="row">
					<div class="columns three">
						<input class="input-text" type="text" name="ship_city" placeholder="City" value="{{ city }}" />
					</div>
					<div class="columns three">
						<input class="input-text" type="text" name="ship_state" placeholder="State" value="{{ state }}" />
					</div>
					<div class="columns three">
						<input class="input-text" type="text" name="ship_zip" placeholder="ZIP Code" readonly value="{{ zip }}" />
					</div>
					<div class="columns three">
						<select name="ship_country">
							<option value="USA"{{#if usa}} selected{{/if}}>USA</option>
							<option value="Canada"{{#unless usa}} selected{{/unless}}>Canada</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="six columns">
						<input class="input-text" type="tel" name="ship_phone" placeholder="Phone number" />
					</div>
					<div class="six columns">
						<input class="input-text" type="email" name="ship_email" placeholder="Email Address" />
					</div>
				</div>

			</fieldset>
		</div>

		<div class="six columns">

			<fieldset class="hide-optionals billing-information">
				<legend>Billing Information</legend>

				<label>
					<input type="checkbox" name="is_same" checked />
					Same as recipient's information
				</label>

				<div class="optionally-hidden">
					
					<div class="row">
						<div class="six columns">
							<input class="input-text" type="text" name="bill_first_name" placeholder="First Name" />
						</div>
						<div class="six columns">
							<input class="input-text" type="text" name="bill_last_name" placeholder="Last Name" />
						</div>
					</div>

					<div class="row">
						<input class="input-text" type="text" name="bill_address" placeholder="Street Address" />
					</div>

					<div class="row">
						<div class="columns three">
							<input class="input-text" type="text" name="bill_city" placeholder="City" value="{{ city }}" />
						</div>
						<div class="columns three">
							<input class="input-text" type="text" name="bill_state" placeholder="State" value="{{ state }}" />
						</div>
						<div class="columns three">
							<input class="input-text" type="text" name="bill_zip" placeholder="ZIP Code" value="{{ zip }}" />
						</div>
						<div class="columns three">
							<select name="bill_country">
								<option value="USA"{{#if usa}} selected{{/if}}>USA</option>
								<option value="Canada"{{#unless usa}} selected{{/unless}}>Canada</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="six columns">
							<input class="input-text" type="tel" name="bill_phone" placeholder="Phone number" />
						</div>
						<div class="six columns">
							<input class="input-text" type="email" name="bill_email" placeholder="Email Address" />
						</div>
					</div>

				</div>

			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="six columns">
			<fieldset class="payment-information">
				<legend>Payment Information</legend>

				<div class="row">
					<input class="input-text" type="text" name="card_number" placeholder="Credit Card #" />
				</div>

				<div class="row">

					<div class="four columns">
						<select name="card_month">
							<option value="">Expire Month</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
					</div>

					<div class="four columns">
						<select name="card_year">
							<option value="">Expire Year</option>
							{{#each years}}
								<option value="{{ this }}">{{ this }}</option>
							{{/each}}
						</select>
					</div>

					<div class="four columns">
						<input class="input-text" type="text" name="card_cvv" placeholder="CVV Number" />
					</div>
				</div>

			</fieldset>
		</div>

		<div class="six columns gift-wrapper hide-optionals">
			<div class="optionally-hidden">
				<fieldset>
					<legend>Gift Card Information</legend>
					
					<div class="row">
						<div class="six columns">
							<input class="input-text" type="text" name="gift_from" placeholder="Your name" />
						</div>
						<div class="six columns">
							<input class="input-text" type="text" name="gift_to" placeholder="Giftee's name" />
						</div>
					</div>

					<div class="row">
						<input class="input-text" type="text" name="gift_message" placeholder="Your message" />
					</div>

				</fieldset>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="six columns additional-choices">
			<p>Please send my renewal notice by:
				<label><input type="radio" name="renewal_method" value="mail" checked />Mail</label>
				<label><input type="radio" name="renewal_method" value="email" />Email</label>
			</p>

			<p class="gift-renewal hidden">Please send the renewal notice to:
				<label><input type="radio" name="renewal_notice" value="myself" checked />Myself</label>
				<label><input type="radio" name="renewal_notice" value="giftee" />Giftee</label>
			</p>
			{{#if is_pcf_group }}
				<p>
					<label><input type="checkbox" name="delivery_box" /> Please install a Hamodia delivery box outside my home</label>
				</p>
			{{/if}}
		</div>
	</div>

	<input type="submit" value="Subscribe" class="subscribe-button" />

</form>
</script>
	
	
	
<script id="thank-you-template" type="text/x-handlebars-template">
	
	<h1 class="typographic-heading">Thank You!</h1>
	<p>
		You have successfully bought a <strong>{{ description }}</strong>.<br />
		Thank you for your order.
	</p>
	
	<h4>Recipient's Information:</h4>
	<p>
		{{ info.title }} {{ info.ship_first_name }} {{ info.ship_last_name }}<br />
		{{ info.ship_address }}<br />
		{{ info.ship_city }}, {{ info.ship_state }} {{ info.ship_zip }}<br />
		{{ info.ship_country }} <br />
	</p>
	
	<p>
		{{ info.ship_phone }}<br />
		{{ info.ship_email }}
	</p>
	
	{{#unless info.is_same }}
		<h4>Billing Information:</h4>
		<p>
			{{ info.bill_first_name }} {{ info.bill_last_name }}<br />
			{{ info.bill_address }}<br />
			{{ info.bill_city }}, {{ info.bill_state }} {{ info.bill_zip }}<br />
			{{ info.bill_country }}
		</p>
		<p>
			{{ info.bill_phone }}<br />
			{{ info.bill_email }}
		</p>
	{{/unless}}
	
	<h4>Credit Card:</h4>
	<p>
		{{ info.card_number }}<br />
		{{ info.card_month }} / {{ info.card_year }}
	</p>
	
	{{#if info.is_gift }}
		<h4>Gift Information:</h4>
		<p>
			From <strong>{{ info.gift_from }}</strong> to <strong>{{ info.gift_to }}</strong>:<br />
			{{ info.gift_message }}
		</p>
	{{/if}}
	
	<hr />
	
	<p>
		For any questions or further assistance, please call our office at 718-853-9094 ext. 3<br />
		Thank you.
	</p>
	
</script>