.share-buttons
{
	display:none;
}

@media screen and (max-width:525px)
{

	.home-article-link, .home-category-heading, #sidebar, .header_and_content_split_block
	{
		margin-left:0px !important;  
		width:100%;
	}
	
	.home-article-link,
	.top_block .top_block_right > .home-article-link
	{
		margin-bottom:0px !important;
		padding-top:0px !important;		
	}
	
	.home-article-link.no_image
	{
		padding-top:20px !important;
	}

	.home-article-link > span:not(.author)
	{
		display:inherit;
	}

	.home-article-link > *
	{
		margin-left:20px;
		margin-right:20px;
		width:calc(100% - 40px) !important;
	}

	.home-article-link > .image_container
	{
		margin-left:0px;
		margin-right:0px;
		width:100% !important;;
	}

	#sidebar
	{
		width:100% !important;
	}

	.sidebar_block h3
	{
		margin-left:20px;
	}

	#sidebar .sidebar_articles .home-article-link
	{
		width:100%;
		padding:0px;
	}

	.from_inyan_block,.features_block
	{
		display:none;
	}
	
	.container
	{
		padding:0px;
	}
	
	.entry-content > *,
	.more-articles,
	.post-box header,
	.entry-content .main-image-and-buttons-wrapper figcaption,
	.sidebar_title,
	.single .post_tags,
	.single article footer
	{
		padding-left:20px;
		padding-right:20px;
	}
	
	#oio-banner-13
	{
		padding:0px !important;
	}
	
	.spon_con
	{
		padding:0px;
	}
	
	.date_box
	{
		font-size:12px;
		margin-bottom:0px !important;
		padding-bottom:0px !important;
	}
	
	.excerpt-list article
	{
		padding-top:0px;
		padding-bottom:10px;
		margin-bottom:0px;
	}
	
	.excerpt-list article header 
	{
		margin-top:10px;
	}
	
}