/*
Theme Name:         Hamodia
Theme URI:          http://josephsilber.com
Description:        This theme was designed specificly for the hamodia.com website by <a href="http://josephsilber.com" target="_blank">Joseph Silber</a>
Version:            0.1
Author:             <a href="http://josephsilber.com" target="_blank">josephsilber</a>
Author URI:         http://josephsilber.com
*/

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Customized Adjustments of Foundation for WordPress
:: Styling Basic WordPress Outputs
:: Customize Foundation Style Pagination for WP-Pagenavi
:: Your Customized Style
*/


/*  --------------------------
	Your Customized Style
	----------------------- */

i { font-style: italic }
.entry-title i { font-weight: normal; font-style: italic }

.post-box header time, .author.vcard { font-size: 12px; color:#999; }
.author.vcard { margin-bottom: 10px; }

.print-edition-info { font-size: 12px; color: #aaa; }
.opinion-disclaimer { font-size:10px; color:#999 }




.main-image {
	margin-bottom: 20px !important;
}


.features-categories {
	list-style: none !important;
	padding-left: 0 !important;
}
.features-categories > li {
	background: url(images/features-icons.jpg) no-repeat;
	border: 1px solid #999;
	float: left;
	width: 30px;
	height: 30px;
	margin: 0 4px 0 4px;
	border-radius: 2px;
	box-shadow: 0 0 2px #444;
}
.features-categories > li:hover {
	border-color: #444;
	box-shadow: 1px 1px 2px #444;
	position: relative;
	top: -1px; left: -1px;
}
.features-categories > li:active {
	box-shadow: 0 0 2px #444;
	top: 0; left: 0;
}
.features-categories > li > a {
	text-indent: -999px;
	display: block;
	height: 100%;
}
.features-categories > li.daf-yomi	{ background-position: 0px 0 }
.features-categories > li.history	{ background-position: -30px 0 }
.features-categories > li.voices	{ background-position: -60px 0 }
.features-categories > li.novel		{ background-position: -90px 0 }
.features-categories > li.parenting	{ background-position: -120px 0 }




#share-print-sidebar {
	margin-bottom: 10px;
}
#share-print-sidebar > ul > li {
	display: inline-block;
	margin: 0 5px 5px 0;
}
#share-print-sidebar > ul > li > a {
	background: url(images/print-share.png) no-repeat;
	display: inline-block;
	text-indent: -999em;
	width: 64px;
	height: 64px;
}

#share-print-sidebar > ul > li.print > a { background-position: 0 0 }
#share-print-sidebar > ul > li.email > a { background-position: -64px 0 }
#share-print-sidebar > ul > li.gmail > a { background-position: -128px 0 }

#share-print-sidebar > ul > li.print:hover > a { background-position: 0 -64px }
#share-print-sidebar > ul > li.email:hover > a { background-position: -64px -64px }
#share-print-sidebar > ul > li.gmail:hover > a { background-position: -128px -64px }



#daily-edition { table-layout: fixed }
#daily-edition td { width: 20% }
#daily-edition span {
	display: block;
	text-align: center;
}
#daily-edition span.day,
#daily-edition span.date {
	background: #a6e0ff;
	line-height: 20px;
	color: #002437;
	font-weight: 600;
}
#daily-edition span.day { font-weight: 800 }
#daily-edition span.thumb {
	position: relative;
}
#daily-edition span.thumb:after {
	content: '';
	position: absolute;
	right: 0; top: 0;
	width: 100%; height: 100%;
	background: rgba(100, 100, 100, 0.2);
}
#daily-edition span.thumb:hover:after {
	content: url(images/paper-fold.png);
	background: transparent;
	position: absolute;
	width: auto; height: auto;
	right: 0; top: 0;
}

.search-highlight {
	background: yellow;
}











#comment-open-button,
#submit_comment {
	margin-bottom: 20px;
	float: right;
}
#comment-open-button:after {
	content: '';
	clear: both;
}
#comment {
	width: 100%;
	min-height: 200px;
}

/* Briefs */
.page-id-96 .post-box h1 {
	font-size: 18px;
}
.page-id-96 .post-box h2 {
	font-size: 14px;
}
.page-id-96 .post-box p {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 6px;
}








#comments h3 {
	font-size: 16px;
}
#comments article {
	background: url(images/parchment.png);
	font-family: 'Euphoria Script', cursive;
	padding: 10px;
	font-size: 24px;
	color: #4b2f00;
	border-radius: 20px;
	box-shadow: 1px 1px 6px #573400;
}
#comments article:after { content: ''; display: block; clear: both; }
#comments article p,
#comments article footer {
	line-height: 28px !important;
}


