.category-page-heading {
	text-indent: -999em;
	line-height: 0;

	padding-bottom: 10.6%;
	background-repeat: no-repeat;

	-webkit-background-size: contain;
	   -moz-background-size: contain;
			background-size: contain;

	@each $slug in

		business,
		markets,
		technology,
		world,
		regional,
		israel,
		community,
		national,
		opinion,
		editorial,
		politics,
		op-ed {

			.category-#{$slug} & {
				background-image: url(../images/category-headings/#{$slug}.jpg?v=2016-05-04);
				filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wp-content/themes/hamodia/images/category-headings/#{$slug}.png', sizingMethod='scale');
				-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wp-content/themes/hamodia/images/category-headings/#{$slug}.png', sizingMethod='scale')";
			}
	}
}

/* :matches(body.category, body.tag) #main */.excerpt-list {

	article {
		// Clearfix. Don't want regular clearfix,
		// because it might interfere with the left sidebar
		overflow: hidden;
		border-bottom: 1px solid #d5d5d5;
		padding: 8px 0;
	}

	img {
		float: right;
		margin: 0 4px 6px 10px;

		&.thumbnail-size {
			@include respond-to(phones) {
				max-width: 100px;
			}
		}
	}

	h2 > a {
		font-size: 22px;
		color: #222;

		&:visited {
			color: $link_visited_color;
		}

		&:hover {
			color: $link_hover_color;
		}


		@include respond-to(phones) {
			font-size: 18px;
		}
	}

	@include respond-to(phones) {
		// Need the #main for specificity override
		&#main time.updated {
			&, & > .hebrew-date {
				font-size: 10px;
			}
		}
	}


	// Need the #main for specificity override
	&#main .entry-content p {
		font-size: 16px;
		line-height: 1.4;

		@include respond-to(phones) {
			font-size: 14px;
		}
	}

	.read-more > a {
		@extend .font-quaternary;
		font-size: 12px;
		color: #104381;

		&:hover {
			color: $link_hover_color;
		}
	}
}
