@charset "UTF-8";
// These styles are all shared between the per-article comments & the main letters page
.post-box {

	.commentlist {
		padding-left: 0;
		margin-left: 0;
		list-style: none;
	}

	/* :matches(h1, h2) */.comment-article-heading {
		@extend .font-quaternary;
		font-weight: bold;
		font-size: 16px;
		color: #000;

		> a {
			color: $link-color;

			&:hover {
				color: $link-hover-color;
			}
		}
	}
}

.comment-article-title {
	@extend .font-heading;
	font-size: 24px;
}

li.comment {
	padding: 10px 0;
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 0;

	&:last-child {
		border-bottom: 0;
	}

	p {
		margin-bottom: 10px;
	}

	@include respond-to(not-phones) {
		section, footer, .more-letters-link {
			padding-left: 40px;
		}
	}
}

.comment-author cite {
	color: #888;
	font-weight: bold;
	font-size: 16px;
}

.more-letters-link {
	background: #eaf2f9;
	display: block;
	line-height: 1.4;
	padding: 8px 12px;
	color: $link-color;
	font-size: 14px;

	&:before {
		content: '► ';
		font-family: serif;
		font-size: 10px;

		position: relative;
		top: -2px;
		left: -3px;
	}

	> .title {
		color: #444;
	}

	&:hover {
		background: darken(#eaf2f9, 5);

		&, .title {
			color: darken($link-color, 20);
		}
	}
}











/* Comments section */
#main #comment-disclaimer {
	@extend .font-secondary;
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 14px;
	color: #666;
}

#respond {
	@extend .clearfix;
	margin-bottom: 20px;
	clear: both;
	padding: 6px 10px;
	background: #ebebeb;

	font-weight: bold;
	font-size: 14px;
	line-height: 2;

	.comments-count {
		@extend .font-secondary;
		font-size: 15px;
		text-shadow: 0 1px 0 #fff;
		color: #666;

		> span {
			color: #104381;
		}
	}
	a.comments-count:hover {
		&, & > span {
			color: lighten(#104381, 5);				
		}
	}

	.comment-button {
		float: right;
		background: #dcdcdc;
		@include background( linear-gradient(#fff, #dcdcdc) );
		border: 1px solid #104381;
		border-radius: 50px;
		padding: 0 18px;
		color: #5d5d5d;
		cursor: pointer;
		width: auto;
		font-size: 12px;
		line-height: 28px;
		font-weight: bold;

		> span {
			color: #104381;
		}

		&:hover {
			color: #444;
			background: #ccc;
			@include background( linear-gradient(#fff, #ccc) );
			border-color: darken(#104381, 20);
		}

		&:active {
			color: #000;
			background: #ccc;
			@include background( linear-gradient(#ccc, #fff) );
			border-color: darken(#104381, 50);
		}

		.ie8 & {
			text-align: center;
			line-height: 30px;
			height: 30px;
			width: 160px;
			padding: 0;
			border: 0;
			
			&, &:hover, &:active {
				background: url(../images/comment-button.png) no-repeat transparent;
			}
		}
	}

	hr {
		border: 1px solid transparent;
		border-top-color: #b3b3b3;
		border-bottom-color: #fff;
		margin: 20px 0 10px 0;
	}

	label, input, textarea {
		@extend .font-quaternary;
		font-weight: normal;
		width: 100%;
		background-repeat: no-repeat;
		// Otherwise, Foundation's background image
		// causes a vertical band at wider dimensions.
	}

	textarea {
		min-height: 200px;
	}

	label {
		font-size: 12px;
	}
	small {
		font-size: 12px;
		color: #999;
	}

	.error {
		border: 1px solid red;
		background-color: #FFDFE2;

		&:focus {
			background-color: #FFF9F9;
		}
	}
}