/* body */.post-type-archive.post-type-archive-digital_edition {
	.post-box {
		text-align: justify;
	}
	.paper-wrapper {
		font-family: 'source_sans_pro', sans-serif;
		font-weight: bold;
		color: #666;

		margin: 0 20px 40px 0;
		text-align: center;
		display: inline-block;

		.day {
			display: block;
		}
		.date {

		}
		.thumb {
			display: block;
			margin: 2px auto;
			border: 1px solid #fff;
		}

		&:hover {
			color: #000;

			.thumb {
				border-color: #ccc;
			}
		}
	}
}