@charset "UTF-8";

@font-face {
	font-family: 'ruda';
	src: url('../fonts/ruda-regular-webfont.eot');
	src: url('../fonts/ruda-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ruda-regular-webfont.woff') format('woff'),
		url('../fonts/ruda-regular-webfont.ttf') format('truetype'),
		url('../fonts/ruda-regular-webfont.svg#rudaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ruda';
	src: url('../fonts/ruda-bold-webfont.eot');
	src: url('../fonts/ruda-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ruda-bold-webfont.woff') format('woff'),
		url('../fonts/ruda-bold-webfont.ttf') format('truetype'),
		url('../fonts/ruda-bold-webfont.svg#rudabold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'tinos';
	src: url('../fonts/tinos-regular-webfont.eot');
	src: url('../fonts/tinos-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/tinos-regular-webfont.woff') format('woff'),
		url('../fonts/tinos-regular-webfont.ttf') format('truetype'),
		url('../fonts/tinos-regular-webfont.svg#tinosregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'tinos';
	src: url('../fonts/tinos-bold-webfont.eot');
	src: url('../fonts/tinos-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/tinos-bold-webfont.woff') format('woff'),
		url('../fonts/tinos-bold-webfont.ttf') format('truetype'),
		url('../fonts/tinos-bold-webfont.svg#tinosbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'source_sans_pro';
	src: url('../fonts/sourcesanspro-semibold-webfont.eot');
	src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
		 url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
		 url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_pro_semiboldRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_pro';
	src: url('../fonts/sourcesanspro-black-webfont.eot');
	src: url('../fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sourcesanspro-black-webfont.woff') format('woff'),
		 url('../fonts/sourcesanspro-black-webfont.ttf') format('truetype'),
		 url('../fonts/sourcesanspro-black-webfont.svg#source_sans_pro_blackregular') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	src: url("../fonts/icons/icons.eot");
	src: url("../fonts/icons/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons/icons.woff") format('woff'), url("../fonts/icons/icons.ttf") format('truetype'), url("../fonts/icons/icons.svg#icons") format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	speak: none;
}

.icon-history:before	{ content: '\23f3'; } /* '⏳' */
.icon-novel:before		{ content: '\2712'; } /* '✒' */
.icon-voices:before		{ content: '\e800'; } /* '' */
.icon-daf-yomi:before	{ content: '📕'; } /* '\1f4d5' */
.icon-parenting:before	{ content: '👥'; } /* '\1f465' */
.icon-group:before		{ content: '👥'; } /* '\1f465' */
.icon-home:before		{ content: '\2302'; } /* '⌂' */
.icon-mail:before		{ content: '\2709'; } /* '✉' */



.font-heading {
	font-family: 'Tinos', serif;
}
.font-secondary {
	font-family: Georgia, serif;
}
.font-tertiary {
	font-family: 'Ruda', sans-serif;
}
.font-quaternary {
	font-family: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}