@charset "UTF-8";

@mixin header-respond($size) {
	@if $size == small {
		@media only screen and (max-width: 780px) { @content; }
	}
	@else if $size == big {
		@media only screen and (min-width: 780px + 1) { @content; }
	}
	@else if $size == search {
		@media only screen and (max-width: 550px) { @content; }
	}
}

#newsletter-top-banner {
	font-family: 'source_sans_pro';
	background: $bright-blue;
	position: relative;
	text-align: center;
	padding: 12px;

	@media only screen and (max-width: 800px) {
		padding-right: 50px;
	}

	.row {
		display: flex;
		padding-top: 6px;
		align-items: flex-start;

		@media only screen and (max-width: 800px) {
			flex-direction: column;
			align-items: center;
			min-width: auto;
			padding-top: 0;
		}

		> h3 {
			flex: 1;
			font-weight: bold;
			line-height: 1.2;
			font-size: 24px;
			color: white;

			@media only screen and (max-width: 800px) {
				margin-bottom: 6px;

				br {
					display: none;
				}
			}
		}

		> .text {
			flex: 1;

			> p {
				padding-bottom: 12px;
				font-weight: normal;
				line-height: 1.2;
				font-size: 20px;
				color: $yellow;

				> b {
					font-weight: bold;
				}
			}
			> footer {
				font-weight: normal;
				line-height: 1.2;
				font-size: 12px;
				color: $yellow;
			}
		}

		> form {
			padding-right: 50px;
			position: relative;
			margin-left: 40px;
			flex: 1;

			@media only screen and (max-width: 800px) {
				margin: 10px 0 0;
			}

			> input {
				font-family: 'source_sans_pro';
			    box-sizing: border-box;
				padding: 12px 24px;
				height: 42px;
				width: 85%;
				border: 0;
			}
			> button {
				font-family: 'source_sans_pro';
				text-transform: uppercase;
				background: $yellow;
				position: absolute;
				font-weight: bold;
				line-height: 42px;
				cursor: pointer;
				color: black;
				height: 42px;
				width: 75px;
				padding: 0;
				border: 0;
				right: 0;
				top: 0;
			}
		}
	}
}

#newsletter-top-banner-dismiss {
	background: transparent;
	color: rgba(black, .25);
	align-self: center;
	position: absolute;
	font-size: 60px;
	cursor: pointer;
	width: 50px;
	right: 20px;
	border: 0;

	&:hover,
	&:focus {
		color: rgba(black, .5);
	}

	@media only screen and (max-width: 1170px) {
		position: static;
		margin-left: 10px;
	}

	@media only screen and (max-width: 800px) {
		position: absolute;
		font-size: 50px;
		margin-left: 0;
		right: 12px;
		top: 12px;
	}
}

#header {
	> .top-links {
		@extend .font-quaternary;
		background: #104381;
		font-size: 13px;
		color: #fff;

		@include header-respond(small) {
			display: none;
		}

		> .row {
			height: 22px;
			line-height: 22px;

			> .left {
				padding-left: 10px;
			}

			> .right {
				padding-right: 10px;

				> .hebrew-date {
					font-size: 11px;
				}
			}
		}

		a {
			color: #fff;
		}

		.advertise, a:hover {
			color: #ffbb05;
		}

		.advertise:hover {
			color: lighten(#ffbb05, 15)
		}
	}

	> .top-center {
		background: #003b6f;
		border-bottom: 5px solid #002a4d;
		@include background( linear-gradient(#002a50, #003b6e) );
		height: 66px;

		@include header-respond (big) {
			padding: 10px 5px;
		}

		@include header-respond (small) {
			padding: 5px;
			// big border, for menu toggle and search
			border-bottom-width: 32px;
		}

		> .row {
			position: relative;
			height: 66px;
		}

		#logo {
			display: block;
			width: 252px;
			height: 44px;
			float: left;
			margin-top: 14px;
			margin-left: 10px;

			@include header-respond(search) {
				width: auto;
				height: 100%;
				float: none;
				margin: 0;

				> img {
					display: block;
					margin: 0 auto;
					padding-top: 14px;
				}
			}
		}

		#tagline {
			@extend .image-replacement;
			background: url(../images/tagline.png) no-repeat left 7px;
			width: 153px;
			height: 38px;
			position: absolute;
			top: 18px;
			left: 278px;

			@include respond-to(700px) {
				display: none;
			}
		}

		.subscribe-banner {
			position: absolute;
			right: 0;
			top: 0;

			text-indent: -999em;
			border: 1px solid #ffbf12;

			width: 241px;
			height: 33px;

			background: url(../images/subscribe-banner.png?v=2) no-repeat center center;
			@include background( url(../images/subscribe-banner.png?v=2) no-repeat center center, linear-gradient(#004784, #002c54) );

			&:hover {
				@include background( url(../images/subscribe-banner.png?v=2) no-repeat center center, linear-gradient( darken(#004784, 6), darken(#002c54, 6)) );
				box-shadow: 0 0 12px rgba(black, .8);
			}

			&:active {
				@include background( url(../images/subscribe-banner.png?v=2) no-repeat center center, linear-gradient(#002c54, #004784) );
			}

			@include header-respond(search) {
				display: none;
			}
		}

		form {
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 0;
			padding-right: 60px; // submit button width
			width: 183px;

			@include header-respond(search) {
				width: auto;
				top: auto;
				bottom: -34px ;
				right: 6px;
				left: 100px;

				> input[name="s"] {
					border-radius: 13px 0 0 13px;
				}

				> input[type="submit"] {
					border-radius: 0 13px 13px 0;
				}
			}

			> input[name="s"] {
				@extend .border-box;
				height: 26px;
				border: 1px solid #ffbb02;
				padding: 0 4px 0 10px;
				width: 100%;
				box-shadow: inset 1px 3px 6px #aaa;

				&:focus {
					box-shadow: inset 2px 2px 3px #666;
					outline: none;
				}
			}

			> input[type="submit"] {
				@extend .primary-gradient;
				@extend .font-heading;
				border: 0;
				height: 26px;
				line-height: 25px;
				font-weight: bold;
				text-align: center;
				width: 60px;
				cursor: pointer;

				position: absolute;
				top: 0; right: 0;
			}

		}
	}

}
#main-nav {
	margin-bottom: 18px;

	> h4 {
		@include header-respond(big) {
			display: none;
		}

		@include header-respond(small) {
			margin: -40px 0 0 0;
			padding: 9px 0 0 8px;
			line-height: 30px;
			width: 90px;

			cursor: pointer;
			font-size: 14px;
			color: #fff;

			&:after {
				content: ' ▼';
				font-size: 10px;
				position: relative;
				left: 2px;
			}
		}
	}
	&.expanded > h4:after {
		content: ' ▲';
	}

	@include header-respond(small) {
		.js & > ul {
			display: none;
		}

		.js &.expanded > ul {
			display: block;
		}
	}

	> ul {
		@extend .font-heading;
		font-weight: bold;
		border-bottom: 3px solid #ffbb05;
		background: #efefef;
		font-size: 14px;
		line-height: 2;
		margin-bottom: 0;

		> li {
			margin-bottom: 0;

			&.current, &:hover {
				@include background( linear-gradient(#ffd973, #ffbb05) );
				@include filter-gradient(#ffd973, #ffbb05);
			}

			> a {
				display: block;
				color: #000;
			}
		}

		@include header-respond(small) {
			background: #eee;
			font-size: 16px;

			> li {
				border-top: 1px solid #fff;
				border-bottom: 1px solid #DBDBDB;
				@include box-sizing(border-box);
				height: 32px;

				&.current, &:hover {
					border: 0;
				}

				> a {
					padding-left: 8px;
				}
			}
		}

		@include header-respond(big) {
			display: table;
			width: 100%;

			> li {
				display: table-cell;

				> a {
					text-align: center;
					position: relative;

					&:before {
						content: '';
						position: absolute;
						background: #444;
						width: 1px;
						top: 8px; bottom: 8px; left: -.5px;
					}
				}

				&:first-child > a:before {
					display: none;
				}

				&.current, &:hover {
					& > a:before, + li > a:before {
						display: none;
					}
				}
			}
		} // end media query
	}
}

.stock-ticker {
	display: block;
	overflow: hidden;
	background: #eee;
	border: solid #aaa;
	border-width: 1px 0;
	margin-top: -10px;
	margin-bottom: 10px;
	position: relative;

	&:hover {
		border-color: #666;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		display: block;
		width: 75px;
		height: 100%;
		top: 0;
	}
	&:before {
		left: 0;
		@include background(linear-gradient( left, rgba(#eee, 1) 20%, rgba(#eee, 0) ));
	}
	&:after {
		right: 0;
		@include background(linear-gradient( right, rgba(#eee, 1) 20%, rgba(#eee, 0) ));
	}

	> ul {
		margin-bottom: 0;
		white-space: nowrap;
	}

	li {
		display: inline-block;
		padding: 0 10px;
		margin-bottom: 0;
	}

	.symbol {
		font-weight: bold;
		color: #6B6B6B;
	}

	.price {
		color: #000;
	}

	.change {
		&.up { color: green }
		&.down { color: red }
	}
}
