.homepage-promotional {
	margin-bottom: 4px;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		margin: 0;
	}
}

.home {

	&-row-main {

		&-primary {
			margin-bottom: 10px;

			@include respond-to (phones) {
				margin-bottom: 28px;
			}
		}

		&-secondary {
			> .columns {

				&.four {
					width: 32.6%;
					margin-left: 1%;

					&:first-child {
						margin-left: 0;
					}
				}

				@include respond-to (phones) {
					margin-bottom: 28px;
				}
			}
		}

	}

	&-top-stories-heading {
		background: #ebebeb;
		padding: 7px 16px;
		font-size: 16px;
		display: block;
		color: black;
	}

	&-category-heading {
		border-top: 3px solid #ffbb05;
	}

	&-category-link {
		transition: background .4s;
		background: #ebebeb;
		padding: 7px 16px;
		font-size: 16px;
		display: block;
		color: black;

		&:hover {
			background: #ffbb05;
			color: black;
		}
	}

	&-article-link {
		border-bottom: 1px solid #ddd;
		display: block;
		padding: 8px 0;

		&:hover {
			background: #f4f4f4;
		}
	}

	&-article-title {
		@extend .font-secondary;
		font-size: 14px;
		display: block;
		color: #222;

		.home-article-link:hover > & {
			color: black;
		}
	}

	&-category-more-link {
		@extend .font-quaternary;
		padding: 10px 10px 0 0;
		display: inline-block;
		font-size: 12px;
		color: #104381;

		&:hover {
			color: $link_hover_color;
		}
	}
}

.page-template-page-home {

	.post-box > .row {
		margin-bottom: 28px;
	}

	@include respond-to (phones) {
		.post-box > .row > .six.columns:first-child:nth-last-child(2) {
			margin-bottom: 28px;
		}
	}
}

#homepage-newsletter {
	background: url(../images/newsletter.png) no-repeat center bottom $bright-blue;
	background-size: contain;

	font-family: 'source_sans_pro';
	text-align: center;
	padding: 20px 20px 30%;

	> h3 {
		font-family: inherit;
		font-weight: bold;
		line-height: 1.2;
		font-size: 42px;
		color: white;
	}

	> p {
		line-height: 1.4 !important;
		font-size: 24px !important;
		font-family: inherit;
		font-weight: normal;
		padding: 16px 0;
		color: $yellow;

		> b {
			font-weight: bold;
			color: $yellow;
		}
	}

	> form {
		position: relative;
		padding-right: 50px;

		> input {
			padding: 12px 0 12px 20px;
			font-family: inherit;
			width: 100%;
			border: 0;
		}
		> button {
			text-transform: uppercase;
			font-family: inherit;
			background: $yellow;
			position: absolute;
			font-weight: bold;
			line-height: 42px;
			font-size: 18px;
			cursor: pointer;
			color: black;
			height: 42px;
			width: 100px;
			border: 0;
			right: 0;
			top: 0;
		}
	}

	> footer {
		font-family: inherit;
		font-weight: normal;
		line-height: 1.2;
		font-size: 16px;
		color: $yellow;
	}
}
