@media print
{
	#newsletter-top-banner,
	#header,
	#breadcrumbs,
	.share-buttons,
	.yarpp-related,
	#respond,
	#sidebar,
	#footer {
		display: none !important;
	}

	.content-aside {
		margin-bottom: 20px !important;
		width: 100% !important;
		border: 0 !important;

		> a, > figure {
			width: 31%;
			float: left;
			margin-right: 3% !important;

			&:nth-child(3n) {
				margin-right: 0 !important;
			}
		}
	}

	// Indented paragraphs
	.with-aside,
	// Tags
	footer {
		margin-left: 0 !important;
	}

	* {
		color: #000 !important;
	}

	#main:before {
		color: #aaa !important;
		font-family: 'Tinos', serif;
		content: "Printed from Hamodia.com";
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
	}
}
