/* ---------------------------------------------------
   Customized Adjustments of Foundation for WordPress
--------------------------------------------------- */

	/* Auto Height for Images for Responsive Design */
	img { height: auto; width: auto; /* die IE, die */ }
	li { margin-bottom: 2%; }

	/* ZURB Navi for Foundation */
	dl.nav { display: block; width: auto; height: 27px; margin: 0 0 18px; }
	dl.nav dt, dl.nav dd { float: left; display: inline; }
	dl.nav dt { color: #999; font-weight: normal; }
	dl.nav dd a { text-decoration: none; margin-left: 6px; padding: 5px 12px;
	 -webkit-border-radius: 12px; -moz-border-radius: 12px; }
	dl.nav dd a:hover { background: #eee; }
	dl.nav dd.current-menu-item a,
	dl.nav dd.current-post-ancestor a,
	dl.nav dd.current-menu-parent a,
	dl.nav dd.current-post-parent a
	 { background: #2A85E8; color: #fff; }

	/* Foundation-specific presentation CSS by ZURB */
	div.main-header { margin: 0 0 30px 0; padding: 20px 0 0 0; border-bottom: solid 1px #ccc; }
	div.main-header h1 { margin-bottom: 0; padding: 0; }
	div.main-header h1 a { color: #181818; }
	div.main-header h1 a:hover { color: #181818; }
	div.main-header .subheader { margin-bottom: 9px; }
	div.highlight { margin-bottom: 12px; }
	img.beta { position: absolute; top: 0px; right: 0px; }

/* -----------------------------------------
   Styling Basic WordPress Outputs
----------------------------------------- */

	.post-box {
		font-size: 14px; line-height: 20px; position: relative;

		h1, h2, h3, h4, h5, h6 {
			@extend .font-heading;
			color: #000;
			line-height: 1.3;
			margin-bottom: 2px;
			font-weight: bold;
		}

		h1 { font-size: 24px }
		h2 { font-size: 22px }
		h3 { font-size: 20px }
		h4 { font-size: 18px }
		h5 { font-size: 16px }
		h6 { font-size: 14px }

		body.single & h2 { margin-top: 25px }

		p { line-height: 21px }
		ol { list-style: decimal outside; padding-left: 25px }
		ul { list-style: disc outside; padding-left: 25px }

		b, strong {
			font-weight: bold;
		}

		i, em {
			font-style: italic;
		}
	}


	a:visited > h2 {
		color: $link-visited-color;
	}
	a:hover > h2 {
		color: $link-hover-color;
	}

	/* Add Divider for Listed Posts */
	.divider { background:url(images/divider.png) no-repeat center top; height:36px; margin:20px 0 27px; }

	/* Add Align Class for Images */
	img.alignright { float: right; margin: 0 0 18px 18px; }
	img.alignleft { float: left; margin: 0 18px 18px 0; }

	/* Add HTML5 Caption Class for Images */
	figure.figure { display: block; }
	figure.figure figcaption { display: block; padding: 8px 10px; font-size: 13px; line-height: 18px; color: #555; background: #EEE; }
	figure.alignright.figure { float: right; margin: 0 0 18px 18px; }
	figure.alignleft.figure { float: left; margin: 0 18px 18px 0; }

	@media only screen and (max-width: 450px) {
		img.alignright,
		img.alignleft,
		figure.alignright.figure,
		figure.alignleft.figure	{
			float: none;
			margin: 18px auto;
			width: 100%;
		}
	}

	/* Sidebar Adjustment */
	.sidebar-section { padding-bottom: 10px; padding-top: 20px;	font-size: 1.3rem; font-weight: normal;	}

	/* Footer Nav */
	.footer-section { padding-bottom: 10px; padding-top: 20px; font-size: 1.3rem; font-weight: normal; }
	.footer-nav li { display: block; float: right; padding-left: 3%; margin-bottom: 0; }

/*  -------------------------------------------------------
	Customize Foundation Style Pagination for WP-Pagenavi
	---------------------------------------------------- */

	div.wp-pagenavi { display: block; height: 24px; margin-left: -5px; color: #555; }
	div.wp-pagenavi a, div.wp-pagenavi span { float: left; display: block; padding: 6px 7px 4px; height: 24px; color: #555; font-size: 15px; margin-left: 5px; }
	div.wp-pagenavi span.pages { padding-left: 0; }
	div.wp-pagenavi .current, div.wp-pagenavi a:hover { border-bottom: solid 2px #00a6fc; color: #141414; }
	div.wp-pagenavi span.unavailable:hover { border-bottom: none; }
