@charset "UTF-8";

// extendable
.sidebar-flat-module {
	display: block;
	background: #104381;
	position: relative;
	color: #fff;

	&:hover {
		background: lighten(#104381, 5);
		text-shadow: 2px 2px 6px #000;
	}
}
.sidebar-transition {
	@include transition( all .5s cubic-bezier(.52,-0.49,.26,2.47) );
}
.sidebar-shadow {
	box-shadow: 1px 1px 2px #888;
}

#sidebar {
	@extend .font-heading;
	font-weight: bold;

	.more-bar {
		@extend .sidebar-transition;
		@extend .primary-gradient;
		color: #000;
		display: block;
		text-align: right;
		padding: 0 14px;
		font-weight: bold;
		font-size: 14px;
		line-height: 22px;

		.touch & {
			line-height: 34px;
		}

		&:hover {
			padding-right: 10px;
		}
	}

	.more-bar-classifieds {
		position: relative;
		top: -10px;
	}

	.sidebar-module {
		margin-bottom: 10px;

		&:hover {
			> ul > li {
				border-bottom: 1px solid #888;

				&:first-child {
					border-top: 1px solid #888;
				}
			}
		}

		> ul {
			padding: 18px 14px 8px;
			font-size: 13px;
			color: #000;

			> li {
				border-bottom: 1px solid #c2c2c2;
				margin: 0;
				padding: 2px 6px;

				&:first-child {
					border-top: 1px solid #c2c2c2;
				}

				> abbr {
					@extend .clearfix;
					display: block;
				}
			}
		}
	}

	#daily-paper-module {

		> .todays-edition {
			@extend .sidebar-transition;
			@extend .sidebar-flat-module;
			height: 160px;

			> h3 {
				@extend .sidebar-transition;
				font-size: 15px;
				line-height: 2;
				font-weight: bold;
				padding-left: 12px;
			}
			&:hover > h3 {
				padding-left: 16px;
			}

			> img {
				position: absolute;
				top: 32px; left: 12px;
			}

			> p {
				position: absolute;
				top: 41px;
				left: 111px;
				right: 4px;

				font-size: 20px;
				font-weight: bold;
				line-height: 1.2;
			}
		}

	}

	#newsletter-sidebar {
		font-family: 'source_sans_pro';
		background: $bright-blue;
		text-align: center;
		padding: 12px;

		> h3 {
			font-weight: bold;
			line-height: 1.2;
			font-size: 24px;
			color: white;
		}

		> p {
			font-weight: normal;
			font-size: 16px;
			padding: 16px 0;
			color: $yellow;

			> b {
				font-weight: bold;
			}
		}

		> form {
			position: relative;
			padding-right: 50px;

			> input {
				font-family: 'source_sans_pro';
				padding: 1px 6px;
				width: 100%;
				border: 0;
			}
			> button {
				font-family: 'source_sans_pro';
				text-transform: uppercase;
				background: $yellow;
				position: absolute;
				font-weight: bold;
				cursor: pointer;
				color: black;
				width: 50px;
				border: 0;
				right: 0;
				top: 0;
			}
		}

		> footer {
			font-weight: normal;
			line-height: 1.2;
			font-size: 12px;
			color: $yellow;
		}
	}

	.info-module.sidebar-module {
		@extend .font-quaternary;
		@extend .clearfix;
		display: block;
		background: #ebebeb;
		font-weight: normal;
		position: relative;
		padding-bottom: 12px;

		> h3 {
			@extend .font-heading;
			font-weight: bold;
			font-size: 15px;
			line-height: 1.4;
			background: #104381;
			padding: 0 8px;
			color: #fff;
		}

		> .more-text {
			font-size: 12px;
			color: #646464;
			position: absolute;
			right: 14px; bottom: 4px;
		}

		> h3, > .more-text {
			@extend .sidebar-transition;
		}

		&:hover {
			background: #e0e0e0;
			@extend .sidebar-shadow;

			> h3 {
				background: darken(#104381, 8);
				padding-left: 12px;
			}

			> .more-text {
				color: #222;
				right: 6px;
			}
		}
	}

	#weather-module {
		> img {
			float: left;
			margin: 8px;
			width: 60px;
		}

		> .weather-text {
			color: #000;
			font-size: 12px;
			line-height: 1.6;
			padding-top: 12px;
		}
	}

	#currency-module {
		> ul > li > abbr {
			display: block;

			> .flag {
				float: left;
				margin-right: 20px;
				margin-top: 2px;
			}

			> .country {
				font-weight: bold;
				float: left;
				width: 50px;
			}
		}
	}

	#stocks-module {
		li {
			@extend .clearfix;
		}

		abbr {
			text-align: right;

			> .symbol {
				font-weight: bold;
				float: left;
				text-align: left;
				color: #0E3D77;
			}

			> .last, .change {
				float: right;
				clear: right;
			}

			.down {
				color: #cc3300;
			}
			.up {
				color: #009900;
			}
		}

		.more-bar {
			position: relative;
			top: 14px;
			font-size: 12px;
		}
	}

	form.compact {
		margin: 0;
		padding: 12px 10px 0;
		position: relative;

		input[type=text] {
			width: 136px;
		}

		input[type=submit] {
			@extend .primary-gradient;
			@extend .font-heading;
			border: 0;
			height: 21px;
			line-height: 21px;
			font-weight: bold;
			text-align: center;
			width: 40px;
			cursor: pointer;

			position: absolute;
			top: 12px; left: 150px;
		}
	}

	.switching-box {
		&:hover {
			box-shadow: 1px 1px 2px #ddd;
		}

		> h3 {
			@extend .border-box;
			@extend .font-secondary;
			font-size: 12px;
			text-align: center;
			line-height: 40px;
			cursor: pointer;
			background: #ddd;
			border: 1px solid #bbb;
			width: 50%;

			&:hover {
				border-color: #ccc;
				border-bottom-color: #fff;
				background: #eee;
				color: #000;
			}

			&.active {
				border-bottom-color: #fff;
				background: #fff;
				color: #000;
				cursor: auto;
			}


			float: right;
			&:first-child {
				float: left;
			}
		}

		> ul {
			@extend .font-quaternary;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			font-weight: normal;
			font-size: 12px;
			padding: 10px 0 0;
			clear: both;

			> li > a {
				line-height: 1.4;
				color: #444;
				display: block;
				padding: 6px 2px;

				&:hover {
					color: #1083BE;
				}
			}
		}
	}

	.sidebar-zmanim,
	.sidebar-shiurim,
	.sidebar-simchos,
	.sidebar-classifieds {

		@extend .sidebar-flat-module;
		@extend .sidebar-transition;
		font-size: 22px;
		line-height: 50px;
		padding-left: 65px;

		&:before {
			background: url(../images/page-icons.png) no-repeat;
			content: '';
			height: 39px;
			width: 46px;
			position: absolute;
			left: 10px;
			top: 8px;
		}

		&:after {
			content: ' »';
			color: #ffbd0b;
		}

		&:hover {
			@extend .sidebar-shadow;
			padding-left: 70px;
		}
	}
	.sidebar-shiurim:before { background-position: -46px 0 }
	.sidebar-classifieds:before { background-position: -92px 0 }
	.sidebar-simchos:before { background-position: -138px 0;
		width: 58px;
		left: 3px;
	}

	.sidebar-zmanim {
		font-size: 15px;
	}

	.subscription-module {
		@extend .sidebar-flat-module;
		@extend .sidebar-transition;
		text-align: center;

		&:hover {
			background: #104381;
			text-shadow: 0;
		}

		> h3 {
			font-size: 23px;
			line-height: 1.5;
			text-align: center;
		}

		> p {
			@extend .font-quaternary;
			font-size: 13px;
			text-align: center;
			margin-bottom: 10px;
			font-weight: normal;
		}

		> input[type=email] {
			@extend .border-box;
			border: 1px solid #ffbb02;
			padding: 0 6px;
			margin: 2px auto;
			width: 75%;
			line-height: 26px;
			height: 26px;
		}

		> input[type=submit] {
			@extend .font-quaternary;
			@extend .primary-gradient;
			cursor: pointer;
			margin: 10px auto;
			font-weight: bold;
			font-size: 16px;
			border: 0;
			border-radius: 100px;
			line-height: 30px;
			height: 30px;
			width: 75%;
		}
	}

}

#newstip-sidebar {
	padding-bottom: 20px;
	background: #ffd500;
	text-align: center;
	max-width: 200px;
	display: block;

	@include respond-to(phones) {
		max-width: 999em;
	}

	> h3 {
		font-family: source_sans_pro, sans-serif;
		padding: 14px 2px 0;
		line-height: 1.2;
		font-size: 20px;
		color: black;
	}

	> img {
		margin: 10px auto 20px;
		max-width: 85%;
		display: block;
	}

	> span {
		font-family: source_sans_pro, sans-serif;
		text-transform: uppercase;
		transition: .2s linear;
		display: inline-block;
		border-radius: 50px;
		padding: 4px 12px;
		background: black;
		font-size: 14px;
		color: #ffd500;

		&:hover {
			border-radius: 0;
		}
	}
}
