.post-box {
	b {
		font-weight: bold;
		color: #222;
	}

	.main-image-and-buttons-wrapper {
		@extend .font-quaternary;
		@extend .clearfix;

		&.floated, &.no-image {
			margin-left: 20px;
			max-width: 70%;
			float: right;
		}

		img {
			height: auto;
			width: 100%;
		}

		&.floated img {
			max-height: 400px;
			width: auto;
		}

		// An image post format should never be floated
		/* body */.single-format-image {
			float: none !important;
			margin-left: 0;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	figcaption {
		color: #575757;
		font-size: 12px
	}
	time.created,
	time.updated {
		display: inline-block;
		padding-bottom: 8px;
		font-size: 14px;
	}
	time.created {
		color: #969696;
		margin-right: 8px;
	}
	time.updated,
	.story-update-time {
		color: #8e4c4c;
	}

	.main-image {
		padding-bottom: 20px;
	}

	.share-buttons {
		padding: 0;
		list-style: none;
		float: right;

		@include respond-to (phones) {
			overflow: hidden;
			float: none;
		}

		> li {
			float: left;

			> a {
				display: block;
				background: #E7E7E7;
				color: #222;
				font-size: 13px;
				line-height: 30px;
				padding: 0 10px 0 36px;
				margin-left: 6px;
				position: relative;
				border: 1px solid #A3A3A3;
				box-shadow: 1px 1px 0 #D8D8D8;
				border-radius: 2px;

				&:hover {
					border-color: darken(#A3A3A3, 5);
					background: darken(#E7E7E7, 8);
					box-shadow: 2px 2px 2px darken(#D8D8D8, 6);
					top: -1px; left: -1px;

					&:before {
						border-color: darken(#E7E7E7, 8);
					}
				}

				&:active {
					// Just reset
					box-shadow: 1px 1px 0 #D8D8D8;
					top: 0; left: 0;
				}

				&:before {
					background: url(../images/share-buttons.png) no-repeat transparent;
					border: 4px solid #E7E7E7; // Border covers sprite bleed
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					height: 22px;
					width: 24px;
				}
			}
		}

		.print > a:before { background-position: 0     0; }
		.email > a:before { background-position: -24px 0; }
		.gmail > a:before { background-position: -48px 0; }
	}

	.no-image .share-buttons > li {
		float: none;
		margin-bottom: 8px;
	}

	#main & /* footer */.tags {
		margin: 10px 0;
		font-size: 14px;

		> strong {
			color: #9E9E9E;
		}

		> a {
			color: #104381;

			&:hover {
				color: $link_hover_color;
			}
		}
	}
}

/* body */.single {

	/* h1 */.entry-title {
		@include respond-to(phones) {
			font-size: 18px;
		}
	}


	.entry-content p {
		margin-bottom: 10px;
	}
}

/* .entry-content */.floated-aside {

	/* p */.with-aside,
	footer,
	#respond {
		margin-left: 190px;
	}

	.content-aside {
		border-top: 2px solid #104381;
		border-bottom: 2px solid #104381;
		float: left;
		width: 175px;

		.image-wrapper {
			display: block;
			margin: 10px auto;
		}

		img {
			display: block;
			margin: 0 auto;
		}

		.alignleft, .alignright {
			float: none;
			margin: 15px auto;
		}
	}
}

.more-articles {
	border-top: 2px solid #104381;
	font-weight: normal;
	padding: 0;

	@include respond-to(not-phones) {
		&:first-child {
			border-top: 0;
		}
	}

	> h3 {
		@extend .font-secondary;
		padding: 6px;
		font-size: 18px;
		color: #0056a2;
	}

	> ul {
		list-style: none;
		font-size: 15px;
		padding: 0;
		margin: 0;
	}

	li {
		margin-bottom: 0;

		&:hover {
			& > a, & + li > a {
				border-color: #aaa;
			}
		}

		> a {
			@extend .font-quaternary;
			font-size: 12px;
			line-height: 1.4;
			display: block;
			border-top: 2px solid #e6e6e6;
			padding: 6px;
			color: #444;

			&:hover {
				color: $link_hover_color;
			}
		}
	}

}

.more-articles-wrapper > .more-articles {
	border-top: 8px solid #104381;
	margin-bottom: 20px;

	&:last-child {
		border-bottom: 2px solid #104381;
	}

	> h3 {
		color: #7a7a7a;

		> a {
			color: #0056a2;

			&:hover {
				color: $link_hover_color;
			}
		}
	}
}

.print-edition-info {
	color: #999;
	font-size: 12px;
	padding-bottom: 8px;

	> .subscribe-page-link {
		color: #999;

		&:hover {
			color: $link-color;
			text-decoration: underline;
		}
	}
}
