@charset "UTF-8";

/* body */.page-id-207 #main {

	.typographic-heading {
		color: #e98400;
	}

	.feature-box {
		margin-bottom: 20px;
		position: relative;

		&:after {
			position: absolute;
			top: 12px;
			right: 5px;
			font-size: 34px;
		}

		&.up {
			border-color: green;

			&:after {
				content: '▲';
				color: green;
			}

			.change, .change-percent {
				color: green;
			}
		}

		&.down {
			border-color: red;

			&:after {
				content: '▼';
				color: red;
			}

			.change, .change-percent {
				color: red;
			}
		}

		h2 {
			font-family: 'source_sans_pro', sans-serif;
			font-size: 26px;
			color: #064776;
		}

		.price {
			display: block;
			color: #000;
			font-weight: bold;
		}

	}

	.stocks-wrapper {
		@include respond-to (550px) {
			overflow-x: scroll;
		}
	}

	table.stocks {
		width: 100%;

		&.search tbody tr:first-child {
			background: #DFE9F3;

			&.up {
				border-top: 1px solid green;
				border-bottom: 1px solid green;
			}

			&.down {
				border-top: 1px solid red;
				border-bottom: 1px solid red;
			}
		}

		.symbol {
			color: #064776;
			font-weight: bold;
		}

		.up {
			.change, .change-percent { color: green }
		}

		.down {
			.change, .change-percent { color: red }
		}
	}
}