$weather-blue-color: #104381;

/* body */.page-id-203 #main {

	.typographic-heading {
		color: $weather-blue-color;
	}

	h2 {
		font-size: 24px;
		padding-bottom: 20px;
	}

	img {
		border: 0;
		box-shadow: none;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	.main-location {
		@extend .clearfix;

		.now {
			position: relative;
			min-width: 275px;
			float: left;

			.condition {
				position: absolute;
				top: 45px;
				left: 150px;
				font-weight: bold;
				color: black;
				font-size: 20px;
				line-height: 1.4;
			}
			.c {
				font-weight: normal;
			}
		}

		.forcast {
			text-align: center;
			float: right;

			> li {
				float: left;
				width: 90px;
				padding: 4px;
				border-right: 1px solid #d7d7d7;

				&:first-child {
					border-left: 1px solid #d7d7d7;
				}
			}
		}
	}

	.locations {
		@include respond-to (not-phones) {
			float: left;
		}

		> li {
			@include background(linear-gradient(#fff, #eee));
			@include filter-gradient(#fff, #eee, vertical);
			padding: 4px 10px;
			margin-bottom: 0;
			line-height: 2;

			&:hover {
				@include background(linear-gradient(#fff, #ddd));
				@include filter-gradient(#fff, #ddd, vertical);
			}
		}

		a {
			display: block;
		}

		.location {
			display: inline-block;
			min-width: 175px;
			color: #1f4f89;
		}

		.condition {
			color: #6f6f6f;
		}
	}

	form {
		@include respond-to (not-phones) {
			float: right;
			max-width: 300px;
		}

		h4 {
			color: #104381;
			padding-bottom: 10px;
		}

		input {
			width: 100%;
		}

		input[type=submit] {
			border: 0;
			cursor: pointer;
			background: url(../images/weather/search-button.png) no-repeat;
			display: block;
			margin: 4px auto;
			width: 97px;
			height: 36px;
			text-indent: -999em;
		}
	}
}